<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title><%= title %></title>
    <meta name="Description" content="<%= description %>">
    <meta name="theme-color"  content="#ffffff">
    <link href="static/assets/favicon.ico" rel="shortcut icon" />
    <link rel="apple-touch-icon" href="i<%= require('./assets/apple-touch-icon.png') %>">
    <meta name="robots" content="noindex, nofollow.">
    <link rel="manifest" href="manifest.json" />
    <meta http-equiv="Content-Security-Policy"
        content=" default-src 'self'; script-src 'self' https://unpkg.com https://www.gstatic.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src https://fonts.gstatic.com; connect-src https://www.googleapis.com https://securetoken.googleapis.com;">
    <style> .unsupported-browser { display: none } div.app-spinner { position: fixed; top: 50%; left: 50% } @-webkit-keyframes app-spinner { to { transform: rotate(1turn) } } @keyframes app-spinner { to { transform: rotate(1turn) } } div.app-spinner:before { content: ""; box-sizing: border-box; position: absolute; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; border-radius: 50%; border-color: #07d transparent; border-style: solid; border-width: 2px; -webkit-animation: app-spinner .8s ease infinite; animation: app-spinner .8s ease infinite } </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="unsupported-browser">
        Sorry, your browser is not supported. Please upgrade to the latest version or switch your browser to use this
        site. See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a> for options.
    </div>
    <div id="app">
        <div class="app-spinner"></div>
    </div>
    <script crossorigin src="https://unpkg.com/react@16.9.0/umd/react.production.min.js"
        integrity="sha384-CkwnPTQUF6/knDyAdScDfjTRGGbMqivPLvXfe4XughFhcWhZatKk2jZWuoBSgcNz"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16.9.0/umd/react-dom.production.min.js"
        integrity="sha384-2MsSfEEGJ2Rogg7MLVzlu18tndW7K3SJ4i4b9kxTdVP9Mew3syLP9P+ieLx1BjCe"></script>
</body>

</html>